Bitovi Blog Rag Agent - Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1040,
        592
      ],
      "id": "99f63740-7ff0-4c4d-8391-ed451ea858ea",
      "name": "When chat message received",
      "webhookId": "ec5d5b53-9a8b-44ca-a5cb-4eb5e52af5b9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant specialized in answering questions using Bitovi’s blog content.\n- Use the provided context and metadata from the blogs to answer questions accurately.\n- If the question is about recent blogs, latest posts, categories, or authors, use metadata fields like title, pubDate, category, and link.\n- If no relevant blog information or metadata can answer the question, respond with:\n  \"No relevant information found in Bitovi blogs to answer your question.\"\n- Do not include information outside Bitovi blogs.\n- Always keep answers concise and, when possible, provide the blog title and link as reference.\n\nIf the user just greets or says thank you, respond with a friendly greeting like:\n\"Hello! How can I help you with Bitovi blog content today?\"\nDo not mention the fallback message for greetings.\n\nOutput Format:\nRelevant infomation from blog\nRead more in (link to blog)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -720,
        592
      ],
      "id": "19cfae12-80aa-43a0-b784-42832d91f870",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -832,
        832
      ],
      "id": "6ca11f7c-79c9-46dd-a55a-4f216ea804c4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FrOQLyDjBBzcUVsL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -672,
        832
      ],
      "id": "e44929a4-1f9f-46bb-b2b0-f725c60ceffa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to answer user questions",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-v4",
          "mode": "list",
          "cachedResultName": "n8n-v4"
        },
        "topK": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -416,
        768
      ],
      "id": "9bebd15e-a14b-4012-9afb-4b58f139a6c8",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "SQIOtxLIOm2FO4S8",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        944
      ],
      "id": "25bdcc33-31fc-43d2-86d3-83952cc4239d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "FrOQLyDjBBzcUVsL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {base: $json.base || 'https://www.bitovi.com/blog', 'page': $json.page || 1} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        -144
      ],
      "id": "7510016c-7610-41e9-9054-5d5f933aafcd",
      "name": "Params"
    },
    {
      "parameters": {
        "url": "={{$json.page === 1 ? $json.base : $json.base + '/page/' + $json.page}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        64
      ],
      "id": "6c47eff3-e452-4e6e-b366-42e40d1e0b8e",
      "name": "Scrape Page",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "488bfce4-5e4b-467c-b1f2-996dcebc2ac9",
              "leftValue": "={{ $json.blogLink && $json.blogLink.length > 0 }}",
              "rightValue": "={{ 'true' }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        -160
      ],
      "id": "34776ff2-01af-4716-abb8-399ee250b77d",
      "name": "Has More Pages?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        -160
      ],
      "id": "29d51246-f4ee-43c0-9c0e-39d62cbd6b62",
      "name": "Merge2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1424,
        -144
      ],
      "id": "2f27eee8-28ea-4642-9cbe-5cf984e5554a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.blogLink = [...new Set(item.json.blogLink)];\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        32
      ],
      "id": "1bad90a1-c444-47c4-9e1d-fc366de2bf74",
      "name": "Delete Duplicates"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { base: $json.base, page: $json.page + 1 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -176
      ],
      "id": "0da2d872-80f7-4eeb-9ff4-60cb32d37aae",
      "name": "Page Incrementer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "246dc055-b31d-481f-b406-851edceee0b8",
              "leftValue": "={{ $json.data !== null && $json.error === null }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        48
      ],
      "id": "1b76c2aa-b436-45ae-95d3-f67f48c7d7d7",
      "name": "Check If Pages finished"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "blogLink",
              "cssSelector": ".bitovi-blog-home-tile a.w-full",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "title",
              "cssSelector": ".blog-tile-content p.text-base",
              "returnArray": true
            },
            {
              "key": "author",
              "cssSelector": ".blog-tile-author-info p.font-bold",
              "returnArray": true
            },
            {
              "key": "pubDate",
              "cssSelector": "time",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -608,
        32
      ],
      "id": "43b2c1f7-48d4-45a1-8ea9-e6fcb5faf890",
      "name": "Extract HTML Contents"
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (let item of $input.all()) {\n    const keys = Object.keys(item.json); // get all keys, e.g., a, b\n    const length = item.json[keys[0]].length; // assume all arrays have same length\n\n    for (let i = 0; i < length; i++) {\n        let obj = {};\n        keys.forEach(key => {\n            obj[key] = item.json[key][i];\n        });\n        output.push({ json: obj });\n    }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        128
      ],
      "id": "a5abff5e-45b4-4624-9032-84b20a64b0f5",
      "name": "Flatten"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-v4",
          "mode": "list",
          "cachedResultName": "n8n-v4"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        176
      ],
      "id": "363dbb0d-cbc9-4987-bf02-89b69550f0e7",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "SQIOtxLIOm2FO4S8",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        352
      ],
      "id": "64347462-db53-430b-980b-ca6590ed15c6",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "FrOQLyDjBBzcUVsL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "blogLink",
                "value": "={{ $json.blogLink }}"
              },
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "author",
                "value": "={{ $json.author }}"
              },
              {
                "name": "pubDate",
                "value": "={{ $json.pubDate }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        752,
        368
      ],
      "id": "75662862-cceb-4402-a077-7113a23800e1",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        720,
        528
      ],
      "id": "2c8f8601-a160-4cf1-bce0-9d317936d659",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "url": "={{ $json.blogLink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        64
      ],
      "id": "c1fb1609-fdfe-4044-83fc-e0a48978da3f",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function cleanHTML(html) {\n  return html\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '') // remove scripts\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '') // remove styles\n    .replace(/<!--[\\s\\S]*?-->/g, '') // remove comments\n    .replace(/<\\/?[^>]+(>|$)/g, '') // remove all tags\n    .replace(/&nbsp;/gi, ' ') // decode common entity\n    .replace(/&amp;/gi, '&')\n    .replace(/\\s+/g, ' ') // normalize whitespace\n    .trim();\n}\n\nreturn $input.all().map(item => {\n  const html = item.json.data;\n  const text = cleanHTML(html);\n  return {\n    json: {\n      text\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        48
      ],
      "id": "62ebd044-116b-4879-9e59-81995ec8f772",
      "name": "Html to Text1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        256
      ],
      "id": "8f4f1f1b-3551-4bb5-b9d6-7b4241b10d7b",
      "name": "Merge With MetaData"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Params": {
      "main": [
        [
          {
            "node": "Scrape Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Scrape Page": {
      "main": [
        [
          {
            "node": "Check If Pages finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?": {
      "main": [
        [
          {
            "node": "Page Incrementer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Duplicates": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Flatten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page Incrementer": {
      "main": [
        [
          {
            "node": "Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Pages finished": {
      "main": [
        [
          {
            "node": "Extract HTML Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML Contents": {
      "main": [
        [
          {
            "node": "Delete Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge With MetaData",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Html to Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Html to Text1": {
      "main": [
        [
          {
            "node": "Merge With MetaData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge With MetaData": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d4e6e3f4-de09-419b-a739-a57ef31e3912",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eac6604dee12b824b72b585ebb29dfe9f45f8f0ca74a2d7b66821092dedf6456"
  },
  "nodeGroups": [],
  "id": "wKs72b9jd5mr6Ogt",
  "tags": []
}
