Bitovi Blog Rag Agent - Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2112,
        1696
      ],
      "id": "87e22f9a-bc7c-4234-b963-0f445239fae5",
      "name": "When chat message received",
      "webhookId": "ec5d5b53-9a8b-44ca-a5cb-4eb5e52af5b9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant specialized in answering questions using Bitovi’s blog content.\n- Use the provided context and metadata from the blogs to answer questions accurately.\n- If the question is about recent blogs, latest posts, categories, or authors, use metadata fields like title, pubDate, category, and link.\n- If no relevant blog information or metadata can answer the question, respond with:\n  \"No relevant information found in Bitovi blogs to answer your question.\"\n- Do not include information outside Bitovi blogs.\n- Always keep answers concise and, when possible, provide the blog title and link as reference.\n\nIf the user just greets or says thank you, respond with a friendly greeting like:\n\"Hello! How can I help you with Bitovi blog content today?\"\nDo not mention the fallback message for greetings.\n\nOutput Format:\nRelevant infomation from blog\nRead more in (link to blog)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1792,
        1696
      ],
      "id": "6d4401fe-fc1e-4416-a4bb-84448f305473",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1904,
        1936
      ],
      "id": "6232ee2a-0f8b-4d71-a20a-cc7caf13014c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1l2Qm7XkUyA0TVkK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1744,
        1936
      ],
      "id": "f303acaa-bc11-457f-be1b-d1fb12ac7121",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to answer user questions",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-v2",
          "mode": "list",
          "cachedResultName": "n8n-v2"
        },
        "topK": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1488,
        1872
      ],
      "id": "b0c64cc4-51f6-4c10-aee6-4c914c0e8df9",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "w6NQTOcfSkpYZNxU",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1472,
        2048
      ],
      "id": "ea36ad2e-da4a-4a81-84d6-ae3245e59f4f",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "1l2Qm7XkUyA0TVkK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {base: $json.base || 'https://www.bitovi.com/blog', 'page': $json.page || 1} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2288,
        960
      ],
      "id": "5a3ba1cb-9300-408a-9378-70100f795879",
      "name": "Params"
    },
    {
      "parameters": {
        "url": "={{$json.page === 1 ? $json.base : $json.base + '/page/' + $json.page}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2144,
        1168
      ],
      "id": "92303f70-3578-4176-ba04-5742a7c9bf18",
      "name": "Scrape Page",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "488bfce4-5e4b-467c-b1f2-996dcebc2ac9",
              "leftValue": "={{ $json.blogLink && $json.blogLink.length > 0 }}",
              "rightValue": "={{ 'true' }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        944
      ],
      "id": "cadd9914-c21c-428c-ae21-bf3369e213e4",
      "name": "Has More Pages?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1312,
        944
      ],
      "id": "a70ea879-db8f-4183-9e61-0dd8a0922234",
      "name": "Merge2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2496,
        960
      ],
      "id": "6f481fae-42a1-4ca8-acab-eaed7cac1150",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.blogLink = list(set(item.json.blogLink))\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        1136
      ],
      "id": "5f0282be-73c5-4521-941c-763391112ac7",
      "name": "Delete Duplicates"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { base: $json.base, page: $json.page + 1 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        928
      ],
      "id": "890f0f42-b0b3-40a6-90cb-e39c05c688b5",
      "name": "Page Incrementer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "246dc055-b31d-481f-b406-851edceee0b8",
              "leftValue": "={{ $json.data !== null && $json.error === null }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        1152
      ],
      "id": "1730edbb-561c-4e64-b6e9-cca5a91e4fac",
      "name": "Check If Pages finished"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "blogLink",
              "cssSelector": ".bitovi-blog-home-tile a.w-full",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "title",
              "cssSelector": ".blog-tile-content p.text-base",
              "returnArray": true
            },
            {
              "key": "author",
              "cssSelector": ".blog-tile-author-info p.font-bold",
              "returnArray": true
            },
            {
              "key": "pubDate",
              "cssSelector": "time",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1680,
        1136
      ],
      "id": "4a46bbdf-5826-42b1-907e-16f7cbbbc386",
      "name": "Extract HTML Contents"
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (let item of $input.all()) {\n    const keys = Object.keys(item.json); // get all keys, e.g., a, b\n    const length = item.json[keys[0]].length; // assume all arrays have same length\n\n    for (let i = 0; i < length; i++) {\n        let obj = {};\n        keys.forEach(key => {\n            obj[key] = item.json[key][i];\n        });\n        output.push({ json: obj });\n    }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        1232
      ],
      "id": "62bcc360-05db-49ad-88f2-b649de1b2878",
      "name": "Flatten"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-v2",
          "mode": "list",
          "cachedResultName": "n8n-v2"
        },
        "embeddingBatchSize": 800,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -448,
        1280
      ],
      "id": "02f25f7d-f582-472b-a523-00b392e93079",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "w6NQTOcfSkpYZNxU",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -528,
        1456
      ],
      "id": "887cff45-b99d-4519-b98d-ed94fb26abef",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "1l2Qm7XkUyA0TVkK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "blogLink",
                "value": "={{ $json.blogLink }}"
              },
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "author",
                "value": "={{ $json.author }}"
              },
              {
                "name": "pubDate",
                "value": "={{ $json.pubDate }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -320,
        1472
      ],
      "id": "d8f4de51-f8e3-4cce-809c-608a4bfbc3d7",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -352,
        1632
      ],
      "id": "6e1c5d5d-cc72-4b48-a09b-c827b872ca32",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "url": "={{ $json.blogLink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        1168
      ],
      "id": "fa153274-d728-4dcf-965d-cb02db5941c1",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function cleanHTML(html) {\n  return html\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '') // remove scripts\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '') // remove styles\n    .replace(/<!--[\\s\\S]*?-->/g, '') // remove comments\n    .replace(/<\\/?[^>]+(>|$)/g, '') // remove all tags\n    .replace(/&nbsp;/gi, ' ') // decode common entity\n    .replace(/&amp;/gi, '&')\n    .replace(/\\s+/g, ' ') // normalize whitespace\n    .trim();\n}\n\nreturn $input.all().map(item => {\n  const html = item.json.data;\n  const text = cleanHTML(html);\n  return {\n    json: {\n      text\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        1152
      ],
      "id": "d761971a-e911-46e9-ba46-9338cf3d071a",
      "name": "Html to Text1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -736,
        1360
      ],
      "id": "23119cf1-78c0-4151-b6cd-ff352a7ce853",
      "name": "Merge With MetaData"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Params": {
      "main": [
        [
          {
            "node": "Scrape Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Scrape Page": {
      "main": [
        [
          {
            "node": "Check If Pages finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?": {
      "main": [
        [
          {
            "node": "Page Incrementer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Duplicates": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Flatten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page Incrementer": {
      "main": [
        [
          {
            "node": "Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Pages finished": {
      "main": [
        [
          {
            "node": "Extract HTML Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML Contents": {
      "main": [
        [
          {
            "node": "Delete Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge With MetaData",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Html to Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Html to Text1": {
      "main": [
        [
          {
            "node": "Merge With MetaData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Merge With MetaData": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45af8878-4675-4a9a-a44e-a776562cca4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ced7d08e77fe1fb5cbe533c358e4500cb0541e3867bfb0d86055706a788b2932"
  },
  "id": "jHrR7sqs4WXNovCf",
  "tags": []
}